<h1><%= @person.name %>'s appointments</h1>
<ul>
  <% @appointments.each do |appointment| %>

    <li>
      <%= appointment.time.strftime("%A %B %d, %Y at %I:%M %P") %>
      <%= appointment.dentist %>
      <%= appointment.description %>
      <%= number_to_currency(appointment.estimated_cost) %>
      -- <%= link_to "Edit", edit_person_appointment_path(@person, appointment) %>
      -- <%= link_to "Delete", person_appointment_path(@person, appointment), method: :delete, "data-confirm" => "Are you sure?" %>
    </li>

  <% end %>
</ul>  
<%= link_to "Add Appointment", new_person_appointment_path(@person) %>
