<h1><%= @person.name %>'s appointments</h1>
<ul>
  <% @appointments.each do |appointment| %>

    <li>
      <%= appointment.time %>
      <%= appointment.dentist %>
      <%= appointment.description %>
      <%= number_to_currency(appointment.estimated_cost) %>
    </li>

  <% end %>
</ul>