<%= form_for [@person, @appointment] do |f| %>
  <%= f.label :time %>
  <%= f.datetime_select :time %>
  <br>
  <%= f.label :dentist %>
  <%= f.text_field :dentist %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :estimated_cost %>
  $<%= f.number_field :estimated_cost %>
  
  <div>
    <%= f.label "Regular Checkup:"  %>
    <%= f.check_box :is_checkup %>
  </div>

  <%= f.submit "Save Apointment" %>


<% end %>