<%= form_for [@person, @appointment] do |f| %>

<div id="chart">
  <%= image_tag("teethcsm.jpg", :alt => "family picture") %>  
</div>
  <%= f.label :time, 'Time: ' %>
  <%= f.datetime_select :time %>
  <br>
  <%= f.label :dentist, 'Dentist: ' %>
  <%= f.text_field :dentist %>
  <br>
  <%= f.label :description, 'Description: ' %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :estimated_cost, 'Estimated cost: ' %>
  $<%= f.number_field :estimated_cost %>

  </br>

  <%= f.submit "Save Apointment", class:'save_appointment' %>


<% end %>
