<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Family Dental</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <div id="wrap">
        <div id="logo">
          <%= link_to image_tag("dentlogo02.jpg", :alt => "family dental logo"), root_path %>
        </div>
        <header>
          <nav>
            <%= link_to('Main Page', root_path) %>
            <span>&nbsp;|&nbsp;</span>
            <%= link_to('Add People', new_person_path) %>
            <span>&nbsp;|&nbsp;</span>
            <%= link_to('See Appointments', people_path) %>
          </nav>
        </header>
        <%= show_flash_message %>
        <section id="main_content">
          <%= yield %>
          <div id="family">
            <%= image_tag("fam01sm.jpg", :alt => "family picture") %>
          </div>
        </section>

      <footer>
        Copyright &copy; <%= Time.now.year %> - Team Duck Duck Geek
      </footer>

    <%= javascript_include_tag "application" %>
    </div>

  </body>
</html>
